fastapi
uvicorn
python-multipart
httpx
python-dotenv
google-genai
google-cloud-aiplatform
pillow
boto3
pymongo
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
email-validator
